{% extends "cloudhome.html" %}
{% block content %}

<div class="col-md-12">
    <center>
        <h1>VIEW USERS DETAILS</h1>
    </center>
</div>

<!-- Display success message -->
{% if messages %}
    <div class="col-md-12">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
{% endif %}

<table style="border: 2px solid rgb(203 217 3);width: 100%;overflow:auto">
    <tr>
        <th class="text-warning bg-dark">Id</th>
        <th class="text-warning bg-dark">Name</th>
        <th class="text-warning bg-dark">Email</th>
        <th class="text-warning bg-dark">Contact</th>
        <th class="text-warning bg-dark">Address</th>
        <th class="text-warning bg-dark">Action</th>
    </tr>
    {% for row in usersdata %}
    <tr>
        <td class="text-info bg-dark">{{ row.id }}</td>
        <td class="text-info bg-dark">{{ row.name }}</td>
        <td class="text-info bg-dark">{{ row.email }}</td>
        <td class="text-info bg-dark">{{ row.contact }}</td>
        <td class="text-info bg-dark">{{ row.address }}</td>
        <td class="text-info bg-dark">
            <a style="color:red" href="{% url 'acceptuser' row.id %}" onclick="return confirmActivation();">
                {{ row.status }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<script type="text/javascript">
    function confirmActivation() {
        return confirm("Are you sure you want to activate this User?");
    }
</script>

{% endblock %}
